/* HomePage Styles */
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; 
    min-height: 100vh;
    overflow-x: hidden; 
  }

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin: 30px auto;
  border-bottom: 3px solid black;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

::-webkit-scrollbar {
  width: 12px;
}
    
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}  
    
::-webkit-scrollbar-thumb {
  background-color: #8da8bf; 
  border-radius: 6px;
  border: 3px solid #f1f1f1; 
}
    
::-moz-scrollbar {
  width: 12px;
}

::-moz-scrollbar-track {
  background: #f1f1f1; 
}
    
    
::-moz-scrollbar-thumb {
  background: #8da8bf; 
  border-radius: 6px;
  border: 3px solid #f1f1f1; 
}

.custom-button {
  background-color: #ff7aa2 !important; 
  border: 1px solid #ff7aa2 !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  font-size: 16px !important;
  transition: background-color 0.3s, border-color 0.3s; 
}
    
.custom-button:hover {
  background-color: #ff6090 !important; 
  border: 1px solid #ff6090 !important; 
}


/* Product Card Styles */

.product-card {
  width: 18rem;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-container {
  background-color: white;
  border-bottom: 2px solid #ccc;
  padding: 10px;
}

.img {
  height: 200px;
  object-fit: contain;
}

.card-body {
  background-color: #ffe5ec;
}

.card-title {
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
}

.custom-button {
  margin-top: 10px;
}

/* Shopping Cart Styles */

.shopCart {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.cartTitle {
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
}

.emptyCart {
  text-align: center;
}

.cartList {
  list-style-type: none;
  padding: 0;
}

.cartItem {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.removeButton {
  margin-left: 10px;
}
